@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passions+Conflict&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
    max-width: 780px;
    width: 100%;
    margin-inline: auto;
    font-family:  Roboto, monospace;
}

img{
    width: 50px;
    height: 50px;
    object-fit: curve;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.profile{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
}

.nav{
    display: flex;
    list-style-type: none;
    padding: 0;
   
  
}
 .nav li{
    padding: 0px 25px 4px;
    border-bottom: 3px solid transparent;
}

li:hover{
    border-color: yellowgreen;
    transition: all .5s;
}

.asd{

    list-style-type: none;
}

main{
    display: flex;
    gap: 30px;
}

aside li{
    padding: 0;
}

aside{
padding: 20px;
width: 20%;
background-color: lavender;
}

aside p{

    margin: 0;
}


section{
    width: 80%;
}

aside ul{
    padding: 0;
}

.sam{
    font-size: 12px;
    background-color: lavender;
    margin: 0;
    padding: 5px;
    font-weight: 400;
    width: 200px;
}
